h1, h2, h2, h3, h4, h5 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 0.6em;
}
blockquote {
  margin: 0 2em;
  border-left: 5px solid $gray-light;
  padding: 0 0.5em;
}

.hero {
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @media (min-width: 768px) {
    /* Target devices wider than 768px. */
    background-position: 0 -25em;
  }
  @media (max-width: 767px) {
    /* Target devices narrower than 768px. */
    background-position: -40em -5em;
  }
  color: white;
}

article.post {
  @media (max-width: 767px) {
    /* Target devices narrower than 768px. */
    margin: 0 2em;
  }
}