html {
  position: relative;
  min-height: 100%;
}

h1, h2, h2, h3, h4, h5 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2rem;
  text-decoration: underline;
}
h2 {
  font-size: 1.7rem;
}

blockquote {
  margin: 0 2em;
  border-left: 5px solid $gray-light;
  padding: 0 0.5em;
}

.hero {
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media screen and (orientation: portrait) {
    background-size: auto;

  }
  @media screen and (orientation: landscape) {
    background-size: contain;

  }
  color: white;
}

.coverimg {
  @include respond-above(md) {
    max-width: 40%;
    float: right;
    margin: 0.5rem 0 0.5rem 3rem;
  }
  @include respond-below(md) {
    
  }
}

article.post {
  @include respond-below(sm) {
    margin: 0 2em;
  }
}

.title {
  text-decoration: none;
}

#main {
  /* small pages, vertically, may result in the footer floating around */
  min-height: 500px;
}
.footer {
  margin-top: 3em;
  bottom: 0;
  width: 100%;
  background-color: $gray-lighter;
}